<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sevento</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>servelets.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PessoasServelet</display-name>
    <servlet-name>PessoasServelet</servlet-name>
    <servlet-class>servelets.PessoaServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PessoasServelet</servlet-name>
    <url-pattern>/PessoasServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvaCadastro</display-name>
    <servlet-name>SalvaCadastro</servlet-name>
    <servlet-class>servelets.SalvaCadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvaCadastro</servlet-name>
    <url-pattern>/SalvaCadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvaEvento</display-name>
    <servlet-name>SalvaEvento</servlet-name>
    <servlet-class>sevento.SalvaEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvaEvento</servlet-name>
    <url-pattern>/SalvaEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvaEve</display-name>
    <servlet-name>SalvaEve</servlet-name>
    <servlet-class>servelets.SalvaEve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvaEve</servlet-name>
    <url-pattern>/SalvaEve</url-pattern>
  </servlet-mapping>
</web-app>